<form hx-post="{% url 'nibble:task_create' %}" hx-target="#collapseChecklist{{checklist_id}}" hx-swap="beforeend" hx-on::after-request="this.reset();" class="swappableClass">
    {% csrf_token %}
    <div class="input-group mb-3">
        <p>aaa</p>
        {% for priority in priorities %}
        {{priority}}
        {% endfor %}
        <p>aaa</p>
        <div class="form-floating"> 
            <select class="form-select" id="selectPriority" name="priority">
                <option selected value="">Nope</option>
                <option value="1">🔴</option>
                <option value="2">🟠</option>
                <option value="3">🟡</option>
                <option value="4">🟢</option>
            </select>
            <label for="selectPriority">Priority</label>
        </div>

        <div class="form-floating"> 
            <select class="form-select" id="selectTaskType" name="task_type">
                <option selected value="">None</option>
                {% for type in task_types %}
                <option value="{{type.id}}">{{type.icon}} {{type.name}}</option>
                {% endfor %}
                <option value="" disabled>❓ Inne</option>
            </select>
            <label for="selectTaskType">Type</label>
        </div>          
        <!--
            https://getbootstrap.com/docs/5.3/forms/layout/

            Layout the form
            +
            Make the Select buttons icons (like 👤 for assigned)
        -->
       
       <!-- temporarily out due to type incompatibility
        <div class="form-floating"> 
            <input type="date" class="form-control" id="selectDueDate" name="due_datetime" placeholder="Due date"/>
            <label for="selectDueDate">Due date</label>
        </div>
        -->
        <div class="form-floating">
            <input type="text" class="form-control" id="taskName" name="name" placeholder="Task Name" required>
            <label for="taskName">Task name</label>
        </div>
        <div class="form-floating">
            <input type="number" name="points" id="taskPoints" class="form-control" placeholder="Points" required>
            <label for="taskPoints">Points</label>
        </div>

        <div class="form-floating">
            <select class="form-select" id="selectAssigned" name="assigned_to">
                <option selected value="">None</option>
                {% for profile in user_list %}
                <option value="user.id">{{profile.avatar}} {{profile.user.username}}</option>
                {% endfor %}
            </select>
            <label for="selectAssigned">Assigned</label>
        </div>
    
        <input type="hidden" name="checklist" value="{{checklist_id}}">
        <button type="submit" class="btn">💾</button>
      </div>
</form>