<div id="board-container">
    <h1 class="text">My Board</h1>
    <div class="board-wrapper">
        <div class="column">
            <h3>Column 1</h3>
            <b style="color: red; font-size: small;">column.orderID = 1</b>
            <div class="board-card card">
                <div class="board-card-header">
                    <div class="board-card-info">
                        <b style="color: red; font-size: small;">project.orderID = 1</b>
                        <span class="partof">🟢 Part of <b class="label-parent">Event 1</b></span> || <span>⚙️</span>
                        <!-- ⚙️ tylko na PC z opcjami typu 🗑️ delete, 🗃️ archive, 📄 copy; na telefonie nie ma sensu bo sie nie zmieści-->

                        <br />
                        <span class="badge rounded-pill text-bg-primary">Label1</span>
                        <span class="badge rounded-pill text-bg-primary">Label2</span>
                        <br />

                        <!-- change spans to divs so i don't need this br and make it all make more sense xd -->
                        <h5>
                            <a href="project-card.html">Project No 1</a>
                        </h5>
                        <span>📅01 July, 🕕12:00</span> || <span>👤👤👤</span>
                    </div>
                    🔄 2
                    ☑️ 2/10
                </div>

            </div>
            <div class="card">Card 2</div>
        </div>
        <div class="column">
            <h3>Column 2</h3>
            <div class="card">Card 3</div>
            <div class="card">Card 4</div>
        </div>
        <div class="column">
            <h3>Column 3</h3>
            <div class="card">Card 5</div>
            <div class="card">Card 6</div>
        </div>
        <div class="column">
            <h3>Column 4</h3>
            <div class="card">Card 7</div>
            <div class="card">Card 8</div>
        </div>
    </div>
</div>