{% extends "nibble/base.html" %}
{% block "title" %}Nibble board{% endblock %}
{% block "content" %}

<div id="board-container">
    <h1 class="text">My Board</h1>
    <div class="board-wrapper">
        <div class="column">
            <h3>Column 1</h3>
            <b style="color: red; font-size: small;">column.orderID = 1</b>
            {% include "nibble/partials/card-small.html" %}
            {% include "nibble/partials/card-small.html" %}
        </div>
        <div class="column">
            <h3>Column 2</h3>
            {% include "nibble/partials/card-small.html" %}
            {% include "nibble/partials/card-small.html" %}
         
        </div>
        <div class="column">
            <h3>Column 3</h3>
            {% include "nibble/partials/card-small.html" %}
           
        </div>
        <div class="column">
            <h3>Column 4</h3>
            {% include "nibble/partials/card-small.html" %}
            {% include "nibble/partials/card-small.html" %}
            {% include "nibble/partials/card-small.html" %}
            
        </div>
    </div>
</div>

{% endblock %}