{% extends "nibble/base.html" %}
{% block "title" %}{{card.name}}{% endblock %}
{% block "content" %}

<div class="project-card">
    <div id="project-toolbar">
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
            aria-controls="offcanvasExample">
            Toolbar
        </button>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample"
            aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h3 class="offcanvas-title" id="offcanvasExampleLabel"> Toolbar</h3>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">

                <button>📄 COPY</button> <br />
                <button> ➡️ MOVE </button> <br />
                <button> 👁️ WATCH/STOP WATCHING </button> <br />
                <button> 🗃️ ARCHIVE </button> <br />
                <button> 🔄 COPY LINK </button> <br />
            </div>
        </div>
    </div>
    <div class="project-header">
        <div class="labels">
            {% for label in card.label.all %}
            <span class="badge rounded-pill" style="background:{{label.color}}">{{label.name}}</span>
            {% endfor %}            
            <button>+</button>
        </div>
        <div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'board' card.column.board.id %}">{{card.column.board.name}}</a></li>
                    <li class="breadcrumb-item">{{card.column.name}}</li>
                    <li class="breadcrumb-item active" aria-current="page">{{card.name}}</li>
                </ol>
            </nav>
        </div>

        <div id="protect-assigned" style="color:red;">
            {% for checklist in card.checklists.all%}
                {% for task in checklist.tasks.all %}
                {{task.assigned_to.avatar}}
                {% endfor %}
            {% endfor %}
        </div>

        <div id="project-title">
            <h1 hx-get="{% url 'card_edit' card.id 'name' %}" hx-target="this" hx-swap="outerHTML">
                {{card.name}}
            </h1>
        </div>
    </div>

    <div id="project-body">
        <div id="project-description">
            <div id="">
                {% if card.owner %}
                Owner: <span hx-get="{% url 'card_edit' card.id 'owner' %}" hx-target="this" hx-swap="outerHTML">{{card.owner.avatar}}</span> <a href="{% url 'profile' card.owner.handle %}"> {{card.owner.user.username}} </a> <br />
                {%else%}
                Owner: <span hx-get="{% url 'card_edit' card.id 'owner' %}" hx-target="this" hx-swap="outerHTML">+</span>
                {% endif %}
                <br/>
                {% if card.helper %}
                Helper: <span hx-get="{% url 'card_edit' card.id 'helper' %}" hx-target="this" hx-swap="outerHTML">{{card.helper.avatar}}</span> <a href="{% url 'profile' card.helper.handle %}">  {{card.helper.user.username}} </a> <br />
                {%else%}
                Helper: <span hx-get="{% url 'card_edit' card.id 'helper' %}" hx-target="this" hx-swap="outerHTML">+</span>
                <!--Cange cha-->
                {% endif %}
                
                {% if card.due_datetime %}
                <span hx-get="{% url 'card_edit' card.id 'due_datetime' %}" hx-target="this" hx-swap="outerHTML">📅🕕{{card.due_datetime}}</span>
                {% endif %}
            </div>
            <br />
            <div class="attachments">
                <h3>Attachments <button>+</button></h3>
                <ul>
                    {% for attachment in card.attachments.all %}
                    <li>
                        <a href="{{attachment.url}}">{{attachment.name}}</a>
                        <span hx-get="{% url 'card_edit' card.id 'attachment' %}" hx-target="this" hx-swap="outerHTML">🖋️</span>
                    </li>
                    
                    {% empty %}
                    <p hx-get="{% url 'card_edit' card.id 'description' %}" hx-target="this" hx-swap="outerHTML"> No attachments added yet. </p>
                    {% endfor %}
                </ul>
            </div>
            <br />
            <div id="description">
                <h3>
                    Description
                </h3>
                    {% if card.description %}
                    <p hx-get="{% url 'card_edit' card.id 'description' %}" hx-target="this" hx-swap="outerHTML">{{card.description}}</p>
                    {% else %}
                    <div class="muted" hx-get="{% url 'card_edit' card.id 'description' %}" hx-target="this" hx-swap="outerHTML">No description provided yet. Click and add one!</div>
                    {% endif %}
            </div>
        </div>
        <div id="project-lists-all">
            <h3>
                Checklists <button>+</button>
            </h3>

            {% for checklist in card.checklists.all %}
                {% include "nibble/partials/checklist.html" with checklist=checklist %}
                {% empty %}
                    <h5> There's no tasklist yet :&lt; Create one! </h5>
            {% endfor %}

        </div>
    </div>
        <div id="project-footer">
            <div id="logs">
                <h5> Logs
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseLogs" aria-expanded="false" aria-controls="collapseLogs">
                        v
                    </button>
                </h5>

                {% include "nibble/partials/logs.html" %}

            </div>

             <div id="comments">
                    <h5> Comments
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseComments" aria-expanded="false" aria-controls="collapseComments">
                            v
                        </button>
                    </h5>
                    {% include "nibble/partials/comments.html" with comments=card.comments.all %}
            </div>
        </div>
    </div>
</div>
    


{% endblock %}