<div class="board-card card">
    <div class="board-card-header">
        <div class="board-card-info">
            <b style="color: red; font-size: small;">project.orderID = 1</b>
            <span class="partof">🟢 Part of <b class="label-parent">Event 1</b></span> || <span>⚙️</span>
            <!-- ⚙️ tylko na PC z opcjami typu 🗑️ delete, 🗃️ archive, 📄 copy; na telefonie nie ma sensu bo sie nie zmieści-->

            <br />
            <span class="badge rounded-pill text-bg-primary">Label1</span>
            <span class="badge rounded-pill text-bg-primary">Label2</span>
            <br />

            <!-- change spans to divs so i don't need this br and make it all make more sense xd -->
            <h5>
                <a href="{% url 'card' %}">Project No 1</a>
            </h5>
            <span>📅01 July, 🕕12:00</span> || <span>👤👤👤</span>
        </div>
        🔄 2
        ☑️ 2/10
    </div>

</div>