<div>
    {% include "nibble/forms/checklist_field.html" with checklist=checklist checklist_id=checklist.id field_name='name' field_value=checklist.name %} 
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseChecklist{{checklist.id}}" aria-expanded="false" aria-controls="collapseChecklist{{checklist.id}}">
        v
    </button>
</div>

<div class="collapse show" id="collapseChecklist{{checklist.id}}">
    <div class="card card-body">
        <ul class="list-group">

            {% for task in checklist.tasks.all %}

            <li class="list-group-item" id="checklist{{checklist.id}}">
                <input class="form-check-input me-1" type="checkbox" value="" id="Checkbox{{task.id}}For{{checklist.id}}">
                <label class="form-check-label" for="Checkbox{{task.id}}For{{checklist.id}}"
                    hx-swap="outerHTML">
                    {% if task.priority %}
                    <span>
{% include "nibble/forms/task_field.html" with task=task task_id=task.id field_name='priority' field_value=task.priority %} 
                    </span>
                    {% endif %}
                    <span>
{% include "nibble/forms/task_field.html" with task=task task_id=task.id field_name='name' field_value=task.name %} 
                    </span>
                    {% if task.due_datetime %}
                    <span>📅
{% include "nibble/forms/task_field.html" with task=task task_id=task.id field_name='due_datetime' field_value=task.due_datetime %}
                        🕕</span>
                    {% endif %}
                    <span class="badge text-bg-primary rounded-pill">
{% include "nibble/forms/task_field.html" with task=task task_id=task.id field_name='points' field_value=task.points %}                         pts</span>
                    {% if task.assigned_to %}
                    <span class="task-assigned">
{% include "nibble/forms/task_field.html" with task=task task_id=task.id field_name='assigned_to' field_value=task.assigned_to %}
                    </span>
                    {% else %}
                    <span>
{% include "nibble/forms/task_field.html" with task=task task_id=task.id field_name='task_type' field_value=task.task_type %} 
</span> 
                    {% endif %}

                    {% empty %}
                    Add a task and start planning your big heist!
                {% endfor %}
                </label>
            </li>
        </ul>

        <!-- Input to add a new task -->

        <hr />
        <div class="add-task">
            <form hx-get="{% url 'nibble:task_create' %}" hx-target="this" hx-swap="outerHTML" class="swappableClass">
                <input type="hidden" name="checklist_id" value="{{checklist.id}}">
                <button type="submit">Add new</button>
            </form>
        </div>
        
</div>
</div>