<div>
    {% include "nibble/forms/checklist_field.html" with checklist=checklist checklist_id=checklist.id field_name='name' field_value=checklist.name %} 
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
        v
    </button>
</div>

<div class="collapse show" id="collapseExample2">
    <div class="card card-body">
        <ul class="list-group">

            {% for task in checklist.tasks.all %}

            <li class="list-group-item">
                <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckboxStretched2">
                <label class="form-check-label" for="firstCheckboxStretched2"
                    hx-swap="outerHTML">
                    {% if task.priority %}
                    <span>
{% include "nibble/forms/task_field.html" with task=task task_id=task.id field_name='priority' field_value=task.priority %} 
                    </span>
                    {% endif %}
                    <span>
{% include "nibble/forms/task_field.html" with task=task task_id=task.id field_name='name' field_value=task.name %} 
                    </span>
                    {% if task.due_datetime %}
                    <span>📅
{% include "nibble/forms/task_field.html" with task=task task_id=task.id field_name='due_datetime' field_value=task.due_datetime %}
                        🕕</span>
                    {% endif %}
                    <span class="badge text-bg-primary rounded-pill">
{% include "nibble/forms/task_field.html" with task=task task_id=task.id field_name='points' field_value=task.points %}                         pts</span>
                    {% if task.assigned_to %}
                    <span class="task-assigned">
{% include "nibble/forms/task_field.html" with task=task task_id=task.id field_name='assigned_to' field_value=task.assigned_to %}
                    </span>
                    {% else %}
                    <span>
{% include "nibble/forms/task_field.html" with task=task task_id=task.id field_name='task_type' field_value=task.task_type %} 
</span> 
                    {% endif %}

                    {% empty %}
                    Add a task and start planning your big heist!
                {% endfor %}
                </label>
            </li>
        </ul>

        <!-- Input to add a new task -->

        <hr />

        <div class="input-group mb-3">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">Type</button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">🎨 Grafika</a></li>
                <li><a class="dropdown-item" href="#">✒️ Tekst</a></li>
                <li><a class="dropdown-item" href="#">😭 Organizacja</a></li>
                <li><a class="dropdown-item" href="#">📞Kontakt</a></li>
                <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Custom</a></li>
            </ul>

            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">Priority</button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">🔴 Urgent</a></li>
                <li><a class="dropdown-item" href="#">🟠 Important</a></li>
                <li><a class="dropdown-item" href="#">🟡 </a></li>
                <li><a class="dropdown-item" href="#">🟢 </a></li>
            </ul>

            <input type="date" placeholder="Date" class="btn" text="...m" />

            <!-- Make the button smaller -->


            <!-- TODO: Custom otwiera modal w którym się podaje wartość. Albo otwiera kolejny collapse, ale modal lepiej wyglądać będzie -->

            <input type="text" class="form-control" aria-label="Text input with dropdown button">
        </div>
    </div>
</div>