<div class="collapse show" id="collapseComments">

    <form hx-post="{% url 'nibble:comment_create' %}" hx-target="#collapseComments" hx-swap="afterend" hx-on::after-request="this.reset()" class="swappableClass">
        {% csrf_token %}
          <textarea name="content"></textarea>
          <input type="hidden" name="card" value="{{card.id}}">
          <input type="hidden" name="author" value="{{user.nibbleProfile.id}}">
          <button type="submit">💾</button>
      </form>
<br /><br />


        {% for comment in comments %}
        <div class="comment-entry" id="comment-{{comment.id}}">
            <div class="comment-date text-muted">{{comment.datetime}}</div>
            <span class="commenter"><img />👤 {{comment.author.user.username}}:</span>
            <span id="comment-{{comment.id}}-content">
                <span class="comment {% if comment.author.user.id == user.id %}field-editable{% endif %}" hx-get="{% url 'nibble:comment_edit' comment.id %}" hx-target="this" hx-swap="outerHTML"> {{comment.content}} </span>
            </span>


            {% if comment.author.user.id == user.id %}
                <button hx-delete="{% url 'nibble:comment_delete' comment.id %}" hx-target="#comment-{{comment.id}}" hx-swap="delete">🗑️</button>
            {% endif %}

        </div>
        {% empty %}
        No comments yet!
        {% endfor %}
</div>

<!-- change .commenter to .nick? or just bold, I doubt I'd have to get this specific to have .commenter -->
