<div class="collapse show" id="collapseComments">
    <textarea></textarea>
<br /><br />
        {% for comment in comments %}
        <div class="comment-entry">
            <div class="comment-date text-muted">1{{comment.datetime}}</div>
            <span class="commenter"><img />👤 {{comment.author.user.username}}:</span>
            <span class="comment">{{comment.content}}</span>
        </div>
        {% empty %}
        No comments yet!
        {% endfor %}
</div>

<!-- change .commenter to .nick? or just bold, I doubt I'd have to get this specific to have .commenter -->
