<div class="collapse" id="collapseComments">
    <div class="comment-entry">
        <div class="comment-date text-muted">16.05.2017, 23:57</div>
        <span class="commenter"><img />👤 Person1:</span>
        <span class="comment">lmao</span>
    </div>
    <div class="comment-entry">
        <div class="comment-date text-muted">17.05.2017, 00:03</div>
        <span class="commenter"><img />👤 Person2:</span>
        <span class="comment">that's bad</span>
    </div>
    <div class="comment-entry">
        <div class="comment-date text-muted">17.05.2017, 16:31</div>
        <span class="commenter"><img />👤 Person3:</span>
        <span class="comment"><b class="ping">@Person2</b> take a look pls</span>
    </div>
</div>
            <!-- change .commenter to .nick? or just .bold, I doubt I'd have to get this specific to have .commenter. Same with different .x-date, i can have .date or even just .muted-->
