<div class="collapse" id="collapseLogs">
    <div>
        <div class="log-entry">
            <div class="log-date text-muted">23.12.2012, 13:37</div>
            <p class="log-description"><b>👤Person1</b> added a task <i>Test 123</i></p>
        </div>
        <div class="log-entry">
            <div class="log-date text-muted">02.01.2025, 17:13</div>
            <p class="log-description"><b>👤Person3</b> renamed <i>AAA</i> to <i>An Actual Task!</i></p>
        </div>
        <div class="log-entry">
            <div class="log-date text-muted">16.05.2027, 20:01</div>
            <p class="log-description"><b>👤Person1</b> assigned <b>👤 Person5</b> to task <i>Make it
                    great
                    again</i></p>
        </div>
        <div class="log-entry">
            <div class="log-date text-muted">16.05.2027, 20:01</div>
            <p class="log-description"><b>👤Person1</b> finished task <i>Make it great again</i> X days
                before the
                deadline/<u><b>X days late</b></u></p>
            <!-- good idea to keep track because it helps to see patterns in people for yearly feedbacks -->
        </div>
    </div>
</div>