<li class="list-group-item {% if task.is_finished %} task-finished {% endif %}" id="li{{task.id}}for{{checklist.id}}">
    <input hx-post="{% url 'nibble:task_edit' task.id 'is_finished' %}" hx-target="#li{{task.id}}for{{checklist.id}}" hx-swap="outerHTML" name="is_finished" class="form-check-input me-1" type="checkbox"
    id="Checkbox{{task.id}}For{{checklist.id}}" {% if task.is_finished %} checked {% endif %}>
    <label class="form-check-label">
        
        {% if task.priority %}
        <span hx-get="{% url 'nibble:task_edit' task.id 'priority' %}" hx-target="this" hx-swap="outerHTML" class="field-editable">
            {{task.priority}}
        </span>
        {% endif %}

        <span hx-get="{% url 'nibble:task_edit' task.id 'name' %}" hx-target="this" hx-swap="outerHTML" class="field-editable">
            {{task.name}}
        </span>

        {% if task.due_date %}
        <span hx-get="{% url 'nibble:task_edit' task.id 'due_date' %}" hx-target="this" hx-swap="outerHTML" class="field-editable">
            📅 {{task.due_date}}
        </span>
        {% endif %}

        {% if task.due_time %}
        <span hx-get="{% url 'nibble:task_edit' task.id 'due_time' %}" hx-target="this" hx-swap="outerHTML" class="field-editable">
            🕕 {{task.due_time}}
        </span>
        {% endif %}


        <span hx-get="{% url 'nibble:task_edit' task.id 'points' %}" hx-target="this" hx-swap="outerHTML"
            class="badge text-bg-primary rounded-pill field-editable">
            {{task.points}} pts
        </span>


        {% if task.assigned_to %}
        <span hx-get="{% url 'nibble:task_edit' task.id 'assigned_to' %}" hx-target="this" hx-swap="outerHTML"
            class="task-assigned field-editable">
            {{task.assigned_to}}
        </span>
        {% else %}
        <span hx-get="{% url 'nibble:task_edit' task.id 'task_type' %}" hx-target="this" hx-swap="outerHTML" class="field-editable">
            {{task.task_type}}
        </span>
        {% endif %}
    </label>
    <button hx-get="{% url 'nibble:task_delete' task.id %}" hx-target="#deleteModal" hx-swap="outerHTML" hx-on::after-request="setTimeout(() => bootstrap.Modal.getOrCreateInstance(document.getElementById('deleteModal')).show(), 100)">🗑️</button>
</li>